<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="com.mobile.listeners.TestListener" />
	</listeners>

	<test name="Test">
		<parameter name="platformName" value="Android" />
		<parameter name="platformVersion" value="8.0.0" />
		<parameter name="deviceName" value="Any device Name" />
		<classes>
			<!-- <class name="com.mobile.tests.LoginTest"></class> -->
			<class name="com.mobile.tests.NewTest"></class>
			
			<!-- <methods>
				<include name='invalidUsername' />
			</methods> -->
		</classes>
	</test>
</suite> <!-- Suite -->
